<?php

/**
 * SocialEngineSolutions
 *
 * @category   Application_Sesandroidapp
 * @package    Sesandroidapp
 * @copyright  Copyright 2018-2019 SocialEngineSolutions
 * @license    http://www.socialenginesolutions.com/license/
 * @version    $Id: index.tpl  2018-08-14 00:00:00 SocialEngineSolutions $
 * @author     SocialEngineSolutions
 */

?>
<?php  $this->headScript()->appendFile($this->layout()->staticBaseUrl . 'application/modules/Sesbasic/externals/scripts/sesJquery.js'); ?>
<?php include APPLICATION_PATH .  '/application/modules/Sesapi/views/scripts/dismiss_message.tpl';?>
<h2>
  <?php echo $this->translate('Native Android Mobile App'); ?>
</h2>
<div class="sesbasic_nav_btns">
  <a href="<?php echo $this->url(array('module' => 'sesandroidapp', 'controller' => 'settings', 'action' => 'support'),'admin_default',true); ?>" target = "_blank" class="request-btn">Help</a>
</div>
<?php if( count($this->navigation)): ?>
  <div class='sesbasic-admin-navgation'> <?php echo $this->navigation()->menu()->setContainer($this->navigation)->render(); ?> </div>
<?php endif; ?>
<h3>Manage Mobile App Subscribers</h3><br>
<p>This page lists all the subscribers of your Android mobile app. You can also revoke users to suspend the current session of the app on their Phones or Tablets. After revoking, they will have to restart the app. This is normally done if you forcely want your users to restart their app in case you have done any changes to the splash screen or the welcome screen.<br><br>
You can also delete  a user as per your requirements. 
Entering criteria into the filter fields will help you find specific subscriber. Leaving the filter fields blank will show all the subscribers on your social network.
</p><br>
<div class='admin_search sesbasic_search_form'>
  <?php echo $this->form->render($this) ?>
</div>
<br />
<?php $counter = $this->paginator->getTotalItemCount(); ?> 
<?php if( count($this->paginator) ): ?>
  <div class="sesbasic_search_reasult">
    <?php echo $this->translate(array('%s token found.', '%s tokens found.', $counter), $this->locale()->toNumber($counter)) ?>
  </div>
<form id="multidelete_form" action="<?php echo $this->url();?>" onSubmit="return multiDelete()" method="POST">
  <table class='admin_table'>
    <thead>
      <tr>
        <th class='admin_table_short'>Token ID</th>
        <th><?php echo $this->translate('User ID') ?></th>
        <th><?php echo $this->translate('User') ?></th>
        <th align="center"><?php echo $this->translate('Email') ?></th>
        <th align="center"><?php echo $this->translate('Revoke') ?></th>
        <th align="center"><?php echo $this->translate('Session') ?></th>
        <th align="center"><?php echo $this->translate('Creation Date') ?></th>
        <th><?php echo $this->translate('Options') ?></th>
      </tr>
    </thead>
    <tbody>
        <?php foreach ($this->paginator as $item):
            $user = Engine_Api::_()->getItem('user',$item->user_id);
            if(!$user->getIdentity())
              continue;
         ?>
          <tr>
            <td class="admin_table_centered"><?php echo $item->aouthtoken_id; ?></td>
            <td class="admin_table_centered"><?php echo $item->user_id; ?></td>
            <td><?php echo $this->htmlLink($user->getHref(), $user->getTitle()); ?></td> 
            <td><a href="mailto:<?php echo $user->email; ?>"><?php echo $user->email; ?></a></td>
            <td class="admin_table_centered"><?php echo $item->revoked == 1 ?   $this->htmlLink(
                array('route' => 'default', 'module' => 'sesandroidapp', 'controller' => 'admin-subscribers', 'action' => 'revoked', 'id' => $item->aouthtoken_id),$this->htmlImage($this->layout()->staticBaseUrl . 'application/modules/Sesbasic/externals/images/icons/error.png', '', array('title'=> $this->translate('Click to grant access'))),array('class'=>'openRevoked')) : $this->htmlLink(
                array('route' => 'default', 'module' => 'sesandroidapp', 'controller' => 'admin-subscribers', 'action' => 'revoked', 'id' => $item->aouthtoken_id),$this->htmlImage($this->layout()->staticBaseUrl . 'application/modules/Sesbasic/externals/images/icons/check.png', '', array('title'=> $this->translate('Click to revoke access'))),array('class'=>'openRevoked')) ; ?></td>
            <td class="admin_table_centered"><?php echo $item->sessions; ?></td>
            <td class="admin_table_centered"><?php echo $item->creation_date; ?></td>
            <td>
              <?php echo $this->htmlLink(array('route' => 'default', 'module' => 'sesandroidapp', 'controller' => 'admin-subscribers', 'action' => 'delete', 'id' => $item->aouthtoken_id), $this->translate("Delete"), array('class' => 'smoothbox')) ?>
            </td>
          </tr>
        <?php endforeach; ?>
    </tbody>
  </table>
  <br/>
  
</form>
<br />
<div>
  <?php echo $this->paginationControl($this->paginator); ?>
</div>
<?php else: ?>
  <div class="tip">
    <span>
      <?php echo $this->translate("No token found.") ?>
    </span>
  </div>
<?php endif; ?>
<script type="application/javascript">
sesJqueryObject('.openRevoked').click(function(e){
  e.preventDefault();  
  Smoothbox.open(sesJqueryObject(this).attr('href'));
  parent.Smoothbox.close;
	return false;
})
</script>
