/* $Id: constants.css 7306 2010-09-07 07:33:09Z john $ */



/*
DEFAULT STYLES FOR THIS THEME
*/
@constants
{
  /*
  NOTE TO SELVES ---------------------------------------------------------------
  Also add constants to application/settings/constants.xml
  END NOTE ---------------------------------------------------------------------
  */
  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
  theme_topbar_width: 100%;
  theme_topbar_minimenu_width: auto;
  theme_topbar_logo_width: auto;
  theme_topbar_menu_width:100%;
  theme_footer_width: 100%;
  theme_content_width: 90%;
  theme_content_columns_left_width: 250px;
  theme_content_columns_right_width: 250px;
  theme_body_background_color: #fff;

  /* 
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color: #F4F6F7;
  theme_topbar_menu_background_color: #98279b linear-gradient(141deg, #98279b 0%, #98279b 51%, #661462 75%) repeat scroll 0 0;
  theme_topbar_menu_background_color_hover: transparent;
  theme_topbar_menu_link_color: #fff;
  theme_topbar_menu_link_decoration: none;
  theme_topbar_menu_link_hover_color: #98279b;
  theme_topbar_menu_link_hover_decoration: none;
  theme_topbar_menu_link_size: 1em;
  theme_topbar_menu_link_background_color: transparent;
  theme_topbar_menu_link_background_color_hover: #fff;
  theme_topbar_menu_border: none;
  theme_topbar_minimenu_background_color: #F4F6F7;
  theme_topbar_minimenu_border: none;
  theme_topbar_minimenu_link_size: 100%;
  theme_topbar_minimenu_link_color: #808D97;
  theme_topbar_minimenu_link_hover_color: #444;
  theme_topbar_minimenu_link_hover_decoration: none;
  theme_topbar_minimenu_link_hover_background_color: transparent;
  theme_topbar_border: 0px solid transparent;
  theme_menu_tip_color: #98279b;

  /* 
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
  theme_font_family: tahoma, arial, verdana, sans-serif;
  theme_font_size: 14px;
  theme_font_color: #5f727f;
  theme_font_color_light: #808D97;
  theme_text_align: left;
  theme_link_color: #444f5d;
  theme_link_color_hover: #1c2735;
  theme_link_decoration: none;
  theme_link_decoration_hover: none;
  theme_headline_color: #1c2735;
  theme_headline_size_large: 165%;
  theme_headline_size_medium: 115%;

  /* 
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color: #e2e4e6;
  theme_border_medium_color: #d8dbe2;
  theme_border_dark_color: #848b99;
  theme_title_border_color: #98279b;
  theme_popup_border_color: #98279b;

  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
  theme_foreground_border_color: transparent;
  theme_foreground_border_color_light: transparent;
  theme_foreground_background_color: #F4F6F7;

  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color: #fff;
  theme_input_font_color: #5f727f;
  theme_input_border_colors: #d7d8da;
  theme_button_background_color: #98279b;
  theme_button_background_color_hover: #98279b;
  theme_button_background_color_active: #98279b;
  theme_button_font_color: #fff;
  theme_button_border_color: #98279b;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color: #e2e4e6;
  theme_photo_border_color_hover: #d8dbe2;

  /* 
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color: transparent;
  theme_form_background_color: transparent;
  theme_form_label_font_color: #455B6B;

  /*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
  theme_buttontabs_font_color: #808D97;
  theme_buttontabs_font_color_hover: #455B6B;
  theme_buttontabs_font_color_active: #98279b;
 theme_buttontabs_border_color: #DFE5E8;
 theme_buttontabs_border_color_hover: #B6C6C9;
 theme_buttontabs_border_color_active: #98279b;
  theme_buttontabs_background_color: transparent;
  theme_buttontabs_background_color_hover: transparent;
  theme_buttontabs_background_color_active: transparent;

  /*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
  theme_tabs_background_color: #f4f6f7;
  theme_tabs_border_color: #d7d8da;
  theme_tabs_border_color_hover: #455B6B;
  theme_tabs_font_color: #808D97;
  theme_tabs_font_color_active: #98279b;
  theme_tabs_background_color_active: #fff;
  theme_tabs_background_color_hover: #fff;

  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color: #fff;
  theme_list_background_color_alt: #F5F9FB;
  theme_list_background_color_hover: #f4f6f7;

  /*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
  theme_tag_background_color: #d3e6ef;

  /*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
  theme_pulldown_background_color: #f4f6f7;
  theme_pulldown_background_color_hover: #f2f2f2;
  theme_pulldown_background_color_active: #494C64;
  theme_pulldown_font_color_active: #fff;
  theme_pulldown_border_color: #E5E5E5;
  theme_pulldown_contents_background_color: #fff;
  theme_pulldown_contents_list_background_color_hover: #F4F6F7;
  theme_pulldown_contents_list_background_color_active: #F4F6F7;

  /*
  GRID VIEW LAYOUT
  These values set the width and height of grid layout.
  */
  theme_grid_width: 220px;
  theme_grid_height: 290px;

  /*
  SIGN IN BUTTON
  These colors style sign in button
  */
  theme_signin_color: #98279b;
  theme_signin_color_hover: #661462;
}











/* Global member photos and icons */
img.main
{
  max-width: 720px;
  max-height: 720px;
}
img.thumb_normal
{
  max-width: 140px;
  max-height: 160px;
}
img.thumb_profile
{
  max-width: 200px;
  max-height: 400px;
}
img.thumb_icon
{
  width: 48px;
  height: 48px;
}
img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon
{
  border: 1px solid $theme_photo_border_color;
}

















/*
GLOBAL MIXINS
These groups of styles called "mixins" are included in other
classes throughout the stylesheet.
*/

/* Gives an element a background and/or border */
=foreground
{
  background-color: $theme_foreground_background_color;
  border: 0px solid $theme_foreground_border_color;
  border-radius: none;
}

/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa")
{
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded($radius = 3px, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  @if($hidecorner1 == true)
  {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  @if($hidecorner2 == true)
  {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  @if($hidecorner3 == true)
  {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  @if($hidecorner4 == true)
  {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

/* Prevents users from selecting contents */
=noselect
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}







