<?php

/**
 * SocialEngineSolutions
 *
 * @category   Application_Sesfeedgif
 * @package    Sesfeedgif
 * @copyright  Copyright 2017-2018 SocialEngineSolutions
 * @license    http://www.socialenginesolutions.com/license/
 * @version    $Id: gifcontent.tpl  2017-12-06 00:00:00 SocialEngineSolutions $
 * @author     SocialEngineSolutions
 */

?>
<div class="gif_content ses_emoji_container sesbasic_bxs _gif_content notclose">
  <div class="ses_emoji_container_arrow"></div>
  <div class="ses_gif_container_inner sesbasic_clearfix">
    <div class="ses_gif_holder">
      <div class="sesbasic_loading_container empty_cnt" style="height:100%;"></div>
    </div>
  </div>
</div>