<?php

/**
 * SocialEngineSolutions
 *
 * @category   Application_Sesvideo
 * @package    Sesvideo
 * @copyright  Copyright 2015-2016 SocialEngineSolutions
 * @license    http://www.socialenginesolutions.com/license/
 * @version    $Id: catmapping.tpl 2015-10-11 00:00:00 SocialEngineSolutions $
 * @author     SocialEngineSolutions
 */

?>
<div class="settings global_form_popup">
  <?php echo $this->form->render($this) ?>
</div>

<?php if (@$this->closeSmoothbox): ?>
<script type="text/javascript">
  TB_close();
</script>
<?php endif; ?>